body{background-color: #75BEDA;}
hr{
  background-color: #75BEDA;
border-style: none ;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;
}
h1
{
color: #411530;
}
h3
{
color: #66BFBF;
}
a{
  text-decoration: none;
}
.icon{
  width: 50px;
}